<html>
	<title>SUBSCRIBER DISPLAY</title>
	<body>
		<h1>SUBSCRIBER DATA</h1>
		<table border = "1">
			<tr>
				<th>Sub ID</th>
				<th>NAME</th>
				<th>GENDER</th>
				<th>CONTACT</th>
				<th>MAIL</th>
			</tr>
				{% for i in sublist %}
			<tr>
				<td>{{ i.sid }}</td>
				<td><a href = "/login/welcome/subscribers/search/display/{{ i.sid }}/">{{ i.name }}</a></td>
				<td>{{ i.gender }}</td>
				<td>{{ i.contact }}</td>
				<td>{{ i.mail }}</td>
			</tr>
				{% endfor %}
		</table>
	</body>
</html>
			

